html {
    box-sizing: border-box;
    /* min-height: 100%; */
    min-height: 150px;
    min-width: 150px;
    position: relative;
}
body {
    margin: auto;
    background-color: #333;
    height: 100vh;
    bottom: 0;
    overflow: hidden;
}
.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-items: center; */
}
.middle-row {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.login-form{
    min-width: 150px;
    border: 1px solid #666;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}
.login-field {
    position: relative;
    display: block;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: auto;
    max-width: 200px;
    height: 12px;
}
.corner-image img {
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.right-image {
    text-align: right;
}
@media screen and (max-width: 240px) {
    .corner-image {
        /* max-width: 120px; */
        width: 75px;
        height: auto;
        /* border: 1px solid green; */
    }

    .corner-image img {
        background-size: cover;
    }
    .login-form {
        min-width: 120px;
    }
    .login-field {
        width: 100px;
    }
}

@media screen and (max-width: 616px) {
    .corner-image {
        max-width: 100%;
        height: auto;
        /* border: 1px solid green; */
    }
    .corner-image img {
        background-size: cover;
    }
}
/* @media screen and (max-height: 300px) {
    .corner-image {
        height: auto;

        max-width: 100%;
        border: 1px solid red;
        width: auto;
    }

    .corner-image img {
        background-size: cover;
        height: auto;
        width: 98px;
    }
} */
@media screen and (max-height: 512px) {
    .corner-image {
        /* max-width: 100%; */
        height: auto;
        /* border: 1px solid red; */
        /* width: auto; */
    }
    .corner-image img {
        background-size: cover;
        height: 100%;
    }
}
